/* ABOUT */

.about-text {
    max-width: 1200px;
    margin: 0px auto;
}

 h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 45px;
    border-radius: 3px;
    color: var(--orange);
}

 p {
    font-size: 24px;
    text-align: justify;
    margin: 0px 20px;
    margin-bottom: 45px;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkBlue);
}

.description-text-link {
    color: var(--orange);
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.description-text-link:hover {
    color: var(--darkBlue);
}