.copyright {
    background-image: linear-gradient(var(--lightGrey) 1%, var(--darkGrey));
    text-align: center;
    width: 100%;
    color: var(--darkBlue);
    height: 55px;
}

h4 {
    font-family: 'Antonio', sans-serif;
    font-size: 24px;
}
