.copyright {
    background-image: linear-gradient(to bottom right, var(--darkGrey) 1%, var(--lightGrey));
    text-align: center;
    width: 100%;
    color: var(--darkBlue);
    height: 55px;
}

h4 {
    font-size: 20px;
}
