<ul class="pic-menu">
    <li (click)="toPrincipal()" routerLinkActive="active" class="pic-desc-container -mainp current desc-container-link">
            <h3>Principal</h3>
    </li>

    <li (click)="toTurismo()" routerLinkActive="active" class="pic-desc-container -tur desc-container-link">
            <h3>Turismo</h3>
    </li>

    <li (click)="toHistorias()" routerLinkActive="active"  class="pic-desc-container -his desc-container-link">
            <h3>Historias</h3>
    </li>

    <li (click)="toCostumbres()" routerLinkActive="active" class="pic-desc-container -cos desc-container-link">   
            <h3>Costumbres</h3>
    </li>

    <li (click)="toNaturaleza()" routerLinkActive="active"  class="pic-desc-container -nat desc-container-link">
            <h3>Naturaleza</h3>
    </li>

    <li (click)="toFotos()" routerLinkActive="active"  class="pic-desc-container -fot desc-container-link">
            <h3>Fotos</h3>
    </li>

    <li (click)="toPintadas()" routerLinkActive="active"  class="pic-desc-container -art hide desc-container-link">
            <h3>Pintadas</h3>
    </li>
</ul>