<ul class="pic-menu" id="picmenu">
    <li (click)="toPrincipal()" routerLinkActive="active" class="container -mainp">
            <img src="../../../assets/images/menu/index.jpeg" alt="background-menu">
            <h3>Principal</h3>
    </li>

    <li (click)="toTurismo()" routerLinkActive="active" class="container">
                <img src="../../../assets/images/menu/tur.jpeg" alt="background-menu">
                <h3>Turismo</h3>
    </li>

    <li (click)="toHistorias()" routerLinkActive="active"  class="container">
                <img src="../../../assets/images/menu/his.jpeg" alt="background-menu">
                <h3>Historias</h3>
    </li>

    <li (click)="toCostumbres()" routerLinkActive="active" class="container">   
                <img src="../../../assets/images/menu/cost.jpeg" alt="background-menu">        
                <h3>Costumbres</h3>
    </li>

    <li (click)="toNaturaleza()" routerLinkActive="active"  class="container">
                <img src="../../../assets/images/menu/nat.jpeg" alt="background-menu">
                <h3>Naturaleza</h3>
    </li>

    <li (click)="toFotos()" routerLinkActive="active"  class="container">
                <img src="../../../assets/images/menu/fot.jpeg" alt="background-menu">
                <h3>Fotos</h3>
    </li>

<li (click)="toPintadas()" routerLinkActive="active"  class="container hide">
                <img src="../../../assets/images/menu/art.jpeg" alt="background-menu">
                <h3>Pintadas</h3>
    </li> 
</ul> 
