.pic-menu {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
    justify-content: space-around;
}

.container {
    margin: 0px 3px;
    background-color: white;
    border-radius: 3px;
    border: var(--lightGrey) solid 1px;
    cursor: pointer;
}

.pic-menu img {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 100%;
}

.pic-menu h3 {
    color: var(--darkBlue);
    font-size: 24px;
    text-align: center;
    background-color: none;
}

.container:hover {
    box-shadow: 4px 4px 8px var(--darkGrey);
    transform: scale(1.2);
}

.container:active {
    background-color: var(--yellow);
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--darkGrey);
}

.hide {
    display: none;
}

    @media (max-width: 1199px) {
        .pic-menu h3 {
            font-size: 18px;
        }
    }

    @media (max-width: 767px) {

        .pic-menu {
            display: block;
            padding: 0px;
            width: 80%;
        }

        .pic-menu h3 {
            padding: 5px 0;
        }

        .pic-menu img {
            display: none;
        }

        .container {
            margin-bottom: 3px;
        }

        .container:hover {
            box-shadow: none
        }

        .container:hover {
            box-shadow: none;
            transform: none;
        }
}

