<ul class="pic-menu">
    <li class="pic-desc-container -mainp current">
        <a href="index-camboya.html" class="desc-container-link">
            <h3>Principal</h3>
        </a>
    </li>

    <li class="pic-desc-container -tur">
        <a href="tur-camboya.html" class="desc-container-link">
            <h3>Turismo</h3>
        </a>
    </li>

    <li class="pic-desc-container -his">
        <a href="his-camboya.html" class="desc-container-link">
            <h3>Historias</h3>
        </a>     
    </li>

    <li class="pic-desc-container -cos">
        <a href="cos-camboya.html" class="desc-container-link">
            <h3>Costumbres</h3>
        </a>  
    </li>

    <li class="pic-desc-container -nat">
        <a href="nat-camboya.html" class="desc-container-link">
            <h3>Naturaleza</h3>
        </a>
    </li>

    <li class="pic-desc-container -fot">
        <a href="fot-camboya.html" class="desc-container-link">
            <h3>Fotos</h3>
        </a>
    </li>

    <li class="pic-desc-container -art hide">
        <a href="art-camboya.html" class="desc-container-link">
            <h3>Pintadas</h3>
        </a>
    </li>
</ul>