<div class="bottom">
    <img src="../../../assets/images/general/my-pic.jpeg" alt="my-pic" class="my-pic">
    <p class="description-text">"¡Hola! Mi nombre es Gonzalo y vivo en Buenos Aires. ¡Muchas gracias por llegar hasta acá abajo! Espero que disfrutes mi página. Crear este sitio me ayuda a aplicar mis conocimientos de programación y me sirve como memorias de mis viajes. Te invito a conocer más de mi <a routerLink="/acerca" class="description-text-link">acá</a>."
     
</div> <!-- END BOTTOM -->



