.content {
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
}

.content img {
    max-width: 550px;
    box-shadow: 4px 4px 4px var(--darkGrey);

}

.content p {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkBlue);
    text-align: justify;
}

@media (max-width: 767px) {
    .content {
    margin-left: 20px;
    margin-right: 20px;
}

    .content img {
    max-width: 100%;
}

    .content p {
        max-width: 100%;
    }
}



    



/* .text h2 {
    margin-bottom: 15px;
    font-size: 45px;
    border-radius: 3px;
    color: var(--orange);
    text-align: center;
}

.text p {
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--darkBlue);
    text-align: justify;
}

.pic-text-main {
    max-width: 400px;
    box-shadow: 4px 4px 4px var(--darkGrey);
    margin: 10px 0px 10px 0px;
}

.pic-container {
    text-align: center;
}

.pic-container p {
    text-align: justify;
}

.text-fot p {
    text-align: center;
}

.text-fot img {
    max-width: 550px;
}
 */
