/* NAV BAR */

.nav-list {
    background-image: linear-gradient(var(--darkGrey) 1%, var(--lightGrey));
    display: flex;
    padding: 20px;
    list-style: none;
}

.nav-list,
.nav-form {
    flex-grow: 1;
}

.nav-logo {
    max-width: 65px;
    border-radius: 5px;
    transition: 0.2s;
}

.nav-logo:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 4px var(--lightGrey);
}

.nav-form {
    justify-content: flex-end;
    display: flex;
}

.nav-list_item-link {
    text-decoration: none;
    color: var(--darkBlue);
    font-size: 25px;
    display: block;
    padding: 4px 8px;
    font-weight: bold;
}

.nav-list_item-link:hover {
    color: var(--orange);
}

.form-input {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--white);
    border: var(--darkBlue) solid 2px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.button {
    background-color: none;
    border: var(--darkBlue) solid 1px;
    padding: 8px 8px;
    color: var(--darkBlue);
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    color: var(--orange);
}


/* NAV BAR MEDIA QUERIES */

.button-hamburger {
    display: none;
    font-size: 25px;
    padding: 10px 10px;
    background-color: var(--darkGrey);
    width: 100%;
    box-shadow: 3px 3px 3px var(--lightGrey);
    border: none;
}

@media (max-width: 767px) {

    .nav-list {
        display: none;
    }

    .nav-list_item-link {
        display: block;
        border-bottom: var(--lightGrey) solid 1px;
        margin-bottom: 2px;
        padding: 5px;
        text-align: center;
        background-color: white;
        box-shadow: 3px 3px 3px var(--lightGrey);
    }

    .nav-list_item-link:hover {
        color: var(--darkBlue);
    }

    .nav-list_item-link:active {
        color: var(--orange);
    }

    .nav-logo:hover {
        transform: scale(1);
        box-shadow: none;
    }

    .appear {
        display: block;
        border: 5px;
    }

    .button-hamburger {
        display: block;
    }

    .nav-form {
        display: none;
    }
}