<ul class="nav-list" id="menu">
    <li class="nav-list-item">
        <a routerLink="/" class="nav-list_item-link"><img src="../../../assets/images/general/OBDV-favicon.png" class="nav-logo" alt="Logo"></a>
    </li>
    <li class="nav-list-item">
        <a routerLink="/acerca" class="nav-list_item-link">Acerca</a>
    </li>
    <li class="nav-list-item">
        <a routerLink="/english" class="nav-list_item-link">English</a>
    </li>
    <form action="#" class="nav-form">
        <input class="form-input" type="text">
        <li class="nav-list-item">
            <a routerLink="/acerca" class="nav-list_item-link">Buscar</a>
        </li>
    </form>
</ul>
