.nav-list {
    background-image: linear-gradient(to bottom right, var(--darkGrey) 1%, var(--lightGrey));
    display: flex;
    padding: 10px;
    list-style: none;
}

.nav-list-item {
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    margin-right: 25px;
}    

.nav-list_item-link {
    text-decoration: none;
    color: var(--blue);
    font-size: 30px;
    display: block;
    font-weight: bold;
}

.nav-list_item-link:hover {
    color: var(--lightYellow);
}

@media (max-width: 454px) {
    .nav-list {
    display: block;
    text-align: center;
}

.nav-list-item {
    display: block;
    text-align: center;
    margin-right: none;
}
}