* {
    justify-content: end;
}

h2 {
    display: inline;
    margin-left: 15px;
    text-align: end;
    font-size: 16px;
    color: var(--darkGrey);
    cursor: pointer;
    position: static;
}

h2:hover {
    color: var(--orange);
}