.content {
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 10px;
}

.content img {
    max-width: 400px;
    box-shadow: 4px 4px 4px var(--darkGrey);
    margin-bottom: 15px;
}

.content p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: var(--darkBlue);
    text-align: justify;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    .content {
    margin-left: 20px;
    margin-right: 20px;
}

    .content img {
    max-width: 100%;
}

    .content p {
    max-width: 100%;
    }
}