<ul class="country-menu" id="content">
    <li class="country-menu-item">
        <a routerLink="/camboya" class="country-menu-link">Camboya</a>
    </li>
  
    <li class="country-menu-item">
        <a routerLink="/rusia" class="country-menu-link">Rusia</a>
    </li>
  
    <li class="country-menu-item">
        <a routerLink="/indonesia" class="country-menu-link">Indonesia</a>  
    </li>
  
    <li class="country-menu-item">
        <a routerLink="/tanzania" class="country-menu-link">Tanzania</a>
    </li>
  
    <li class="country-menu-item">
        <a routerLink="/marruecos" class="country-menu-link">Marruecos</a>
    </li>
  </ul>