.country-menu {
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
}

.country-menu-item {
    font-size: 35px;
    color: var(--darkBlue);
    padding: 10px 10px;
    background-color: var(--white);
    opacity: 0.8;
    border-radius: 10px;
    flex-grow: 1;
    list-style: none;
    margin: 5px;
}

.country-menu-link {
    text-decoration: none;
    display: block;
}

.country-menu-item:hover {
    background-color: var(--yellow);
    opacity: 0.8;
}

.country-menu-item:active {
    background-color: var(--yellow);
    opacity: 1;
}

/* COUNTRY MENU MEDIA QUERY */

@media (max-width: 767px) {

.country-menu {
    margin-bottom: 20px;
    background-color: var(--white);
    display: block;
}

.country-menu-item {
    background-color: var(--white);
    list-style: none;
    text-align: center;
    opacity: 1;
}

.country-menu-item:hover {
    background-color: var(--white);
    opacity: 1;
}

.country-menu-link {
    border-radius: 5px;
    box-shadow: 1px 1px 8px var(--darkGrey);
    margin: 2px;
    display: block;
    padding: 20px 20px;
    color: var(--darkBlue);
}

.country-menu-link:active {
    background-color: var(--lightYellow);
    border-radius: 5px;
    box-shadow: 4px 4px 4px var(--darkGrey);
}

.country-menu-link h3 {
    font-size: 36px;
    text-align: center;
    color: var(--white);
    text-shadow: 3px 3px 3px var(--darkBlue);
}

.country-menu-link h3:active {
    color: var(--yellow);
}

}
