:root {
    --darkBlue: #011A27;
    --blue: #063852;
    --orange: #F0810F;
    --yellow: #E6DF44;
    --lightYellow: #fff98a;
    --lighterYellow: #ffffe4;
    --white: #ffffff;
    --black: #000000;
    --lightGrey: #b4b4b4;
    --darkGrey: #383838;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--darkBlue);
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--lighterYellow);
    font-family: 'Antonio', sans-serif;
}