<app-nav-bar></app-nav-bar>

<app-main-pic
    [country]="country"
    [description]="description"
    [countrypic]="countrypic"

></app-main-pic>

<div class="menu-wrapper">
<app-pic-menu
    *ngFor="let men of menu"
    [to]="men.to"
    [image]="men.image"
    [alt]="men.alt"
    [title]="men.title"
></app-pic-menu>
</div>

<h2 id="principal">Principal</h2>

<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content>

<!-- <h2 id="turismo">Turismo</h2>

<app-contentTur 
    *ngFor="let cont of content"
    [contentImgTur]="cont.contentImg"
    [contentAltTur]="cont.contentAlt"
    [contentPTur]="cont.contentP"    
></app-contentTur>

<h2 id="historias">Historias</h2>

<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content>

<h2 id="costumbres">Costumbres</h2>

<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content>

<h2 id="naturaleza">Naturaleza</h2>

<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content>

<h2 id="fotos">Fotos</h2>

<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content> -->

<app-map></app-map>

<app-newsletter></app-newsletter>

<app-temperature></app-temperature>

<app-bottom></app-bottom>

<app-footer></app-footer>
