<app-nav-bar></app-nav-bar>

<app-main-pic
    [country]="country"
    [description]="description"
></app-main-pic>

<app-temperature
    [ciudad]="ciudad"
></app-temperature>

<app-map></app-map>

<app-pic-menu></app-pic-menu>

<h2 id="principal">Principal</h2>
<app-content 
    *ngFor="let cont of content"
    [contentImg]="cont.contentImg"
    [contentAlt]="cont.contentAlt"
    [contentP]="cont.contentP"    
></app-content>

<app-division></app-division>

<h2 id="turismo">Turismo</h2>
<app-content-tur 
    *ngFor="let contTur of contentTur"
    [contentImgTur]="contTur.contentImgTur"
    [contentAltTur]="contTur.contentAltTur"
    [contentPTur]="contTur.contentPTur"    
></app-content-tur>

<app-division></app-division>

<h2 id="historias">Historias</h2>
<app-content-his 
    *ngFor="let contHis of contentHis"
    [contentImgHis]="contHis.contentImgHis"
    [contentAltHis]="contHis.contentAltHis"
    [contentPHis]="contHis.contentPHis"    
></app-content-his>

<app-division></app-division>

<h2 id="costumbres">Costumbres</h2>
<app-content-cos 
    *ngFor="let contCos of contentCos"
    [contentImgCos]="contCos.contentImgCos"
    [contentAltCos]="contCos.contentAltCos"
    [contentPCos]="contCos.contentPCos"    
></app-content-cos>

<app-division></app-division>

<h2 id="naturaleza">Naturaleza</h2>
<app-content-nat 
    *ngFor="let contNat of contentNat"
    [contentImgNat]="contNat.contentImgNat"
    [contentAltNat]="contNat.contentAltNat"
    [contentPNat]="contNat.contentPNat"    
></app-content-nat>

<app-division></app-division>

<h2 id="fotos">Fotos</h2>
<app-content-fot 
    *ngFor="let contFot of contentFot"
    [contentImgFot]="contFot.contentImgFot"
    [contentAltFot]="contFot.contentAltFot"
    [contentPFot]="contFot.contentPFot"    
></app-content-fot>


<app-newsletter></app-newsletter>

<app-bottom></app-bottom>

<app-footer></app-footer>
